header {
	display: flex;
	justify-content: space-between;
}

.categoriesLinks {
	display: flex;
}

.products {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.link {
	text-decoration: none;
	color: inherit;
}

.productLink {
	width: 30%;
	display: flex;
}

.productLink:hover {
	box-shadow: 0 0 35px black;
}

.quickAddToCartButton {
	display: none;
}

.productLink:hover .quickAddToCartButton {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(50%);
	justify-content: center;
	align-items: center;
	background-color: #5ECE7B;
	color: white;
	border-radius: 50%;
	border: none;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

.buyInOneClickIcon {
	/* I couldn't change icon's color to white, so I just applied filter*/
	filter: brightness(10);
}

.productCard {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}

.productImageContainer {
	position: relative;
}

.productImage {
	object-fit: cover;
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
}

.outOfStock {
	filter: opacity(0.5);
}

.outOfStockText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
}

.productPage {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.productGallery {
	width: 30%;
	align-items: center;
	display: flex;
}

.productGallery > img {
	width: 60%;
}

.productInfo {
	width: 30%;
}

.slides {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.slides img {
	width: 100%;
	cursor: pointer;
}

.attributesContainer {
	display: flex;
}

.attributeItem {
	padding: 0.3em;
	border: 1px solid black;
	margin-right: 0.5em;
}

.swatchContainer {
	padding: 0.5em;
	box-shadow: 0 0 5px 0 black;
	border-radius: 30%;
}

.selectedAttribute {
	background-color: black;
	color: white;
}

.selectedAttribute .swatchContainer {
	box-shadow: 0 0 5px 5px white;
}

.cartCard {
	display: flex;
}

.cartCardGallery {
	position: relative;
	width: 20vw;
}

.cartCardGallery img {
	width: 100%;
	object-fit: contain;
}

.slideshowArrow {
	position: absolute;
	top: 50%;
	color: white;
	text-shadow: 1px 1px 3px black;
	z-index: 1;
	cursor: pointer;
}

.slideRight {
	right: 0;
}

.cartProductAttributes {
	display: flex;
	align-items: center;
}

.miniCart {
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 20vw;
	max-height: 50%;
	overflow-y: auto;
	font-size: 0.5rem;
	z-index: 1;
	background-color: white;
}

.miniCart .cartCardGallery {
	width: 50%;
}

.miniCartButtons {
	display: flex;
}

.cartButton {
	display: flex;
	width: 50%;
	padding: 0.5rem 0;
	margin: 0.5rem;
}

.cartButton .link {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.cartIcon {
	position: relative;
}

.cartIcon p {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0;
	right: 0;
	margin: 0;
	font-size: 0.75rem;
	width: 1rem;
	height: 1rem;
	background-color: black;
	color: white;
	border-radius: 50%;
	transform: translateY(-25%) translateX(25%);
}